<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.bid.narrativeadventures"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application android:name="NAApp" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NarrativeAdventures"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AProblemInput" android:label="AProblemInput"></activity>
        <activity android:name="SocialSelection" android:label="SocialSelection"></activity>
        <activity android:label="NarrativeSelection" android:name="NarrativeSelection"></activity>

    </application>
    <uses-sdk android:minSdkVersion="4"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 